body{
    display: flex;
    flex-direction: row;
}

main{
    order: 1;
    position: absolute;
    top: 0;
    left: 20vw;

}

#navbar{
    display: flex;
    flex-direction: column;
    order: 0;
    position: fixed;
    top:0;
    left:2rem;
    width: 20vw;
}

#navbar header a{
    display: block;
    /* width: 20vw; */
    text-decoration: none;
    color: black;
    text-align: left;
    margin: 4rem;
    border-bottom: 1px solid grey;
    flex: 400px;
}

@media screen and (max-width: 700px){
    main {
        width: 60vw;
        left: 15rem;
        
    }
    #navbar{
       /* display: flex;
        flex-direction: column;
        order: 0;
        position: fixed;
        top:0;*/
        left:0.5rem;
        width: 40vw;
    }
}